<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body style="background-color: darkred;">
    <div class="container-fluid">
        <div class="row bg-dark">
            <div class="col-md-1">
                <h2>
                    <a href="/" style="text-decoration: none; ">Home</a>
                </h2>
            </div>
            <div class="col-md-11">
                <p class="text text-center text-light display-4 pt-2" style="font-size: 25px;">
                    CRUD application using HTML, CSS, Bootstrap, Node.js, Express.js, MySql
                    <% if(isLoggedIn === true) { %>
                        <a href="/logout" class="btn btn-danger" style="float: right;">Logout</a>
                    <% } %>
                    
                    <% if(isLoggedIn === false) { %>
                        <a href="/signup" class="btn btn-success" style="float: right; margin-right: 10px;">Signup</a>
                        <a href="/login" class="btn btn-info" style="float: right; margin-right: 10px;">Login</a>
                    <% } %>

                    <% if(isLoggedIn === true) { %>
                        <a href="/create-student" class="btn btn-primary" style="float: right; margin-right: 10px;">Add Student</a>
                    <% } %>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class='text-center' style="color: whitesmoke; margin-top: 250px; font-family: monospace; font-size: 100px;">Welcome! CRUD</h1>
        </div>
    </div>
</body>

</html>